main {
	overflow: hidden;
}

#contactme {
	font-size: x-large;
	text-align: center;
	padding: 1em;
}

#inserts {
	border-style: outset;
	border-color: #fff0c7;
	float: left;
	display: inline-block;
	width: 15em;
	padding: 1em;
	margin-left: 9em;
	margin-bottom: 2em;
}

#inserts input , select , textarea {
	border:  1px solid black;
	background-color: #fff0c7;
}

#frog {
	margin: 1em;
	float: left;
	left: 30em;
	
}

#frog img {
	width: 25em;
}